body{
    border: 2px solid white;
    padding: 2%;
}
body {
    background-image: radial-gradient(circle, #f6d365 0%, #fda085 100%);
  }
  
Nav{
    text-align: center;
}
Nav Ul Li {
    List-Style: None;
    Display: Inline-Block;
    Padding: 10px 20px;
  }
  Nav Ul Li A {
    color:crimson;
    Position: Relative;
    Padding: 5px 0;
  }
  Nav Ul Li A:Hover {
    Color: #Fd4766;
    text-decoration: none;
  }
  Nav Ul Li A:After {
    Content: "";
    Position: Absolute;
    Left: 0;
    Width: 0;
    Height: 3px;
    Background: #Fd4766;
    Transition: 0.3s;
    Bottom: 0;
  }
  Nav Ul Li A:Hover:After {
    Width: 100%;
  }
 font{
    color: white;
 }
table,td,th{
    border:2px solid whitesmoke;
    text-align: center;
    padding: 0px;
}
td,th{
    padding: 5px;
}
th{
    height: 50px;
    background-color: #04AA6D;
}
table{
    width:100%;;
    border-collapse: collapse;
}
tr:hover{
    background-color: coral;
    color: black;
}
tr:nth-child(even) {background-color: white}

  
a{color:aquamarine;}
    a:hover{Color: #Fd4766;
        text-decoration: none;}
    ul{
        list-style-type: square;
        list-style-position: inside;
    }
    table,td,th{
        border:2px solid whitesmoke;
        text-align: center;
        padding: 0px;
    }
    img{
        float: right;
        size: 200px 200px;
    }


  